body{
  text-align: center;
}
li {
  font-family: fantasy;
  font-size: 16px;
  display: inline;
  color: #D3681E;
}
img {
  width: 250px;
  height: 250px;
}
.gfree {
  color: mustard;
  font-family: serif;
  font-size: 24px;
  color: red;
}
h1 {
  font-size: 55px;
  color: #B71ED3;
}
h2 {
  font-size: 32px;
  color: #941FAA;
}
.reg {
  color: mustard;
  font-family: serif;
  font-size: 24px;
  color: brown;
}
